body {
    background-color: rgb(135, 255, 124);
}
#Output {
    background-color: white;
    width: 330px;
    padding: 25px;
    border: 5px solid black;
    margin: 5px;
}
#Keyboard {
    background-color: blueviolet;
    width: 330px;
    padding: 25px;
    border: 5px solid black;
    margin: 5px;
}
button {
    text-align: center;
    text-size-adjust: auto;
    font-size: larger;
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    margin: 5px
}